/* views\components\header\header.css */
/* Top ribbon */
.top-ribbon {
  background-color: #e84e0f;
  padding: 5px 0;
  color: white;
  font-size: 0.8rem;
}

.ribbon-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ribbon-logo {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.ribbon-company-info {
  display: flex;
  align-items: center;
}

.ribbon-company-name {
  font-weight: bold;
  margin-right: 15px;
}

/* Custom colors and styling */
.header {
  background-color: #fff;
  border-bottom: 1px solid #e9ecef;
}

.company-name {
  color: #006241;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
}

.company-name:hover {
  color: #006241;
}

.company-slogan {
  color: #e84e0f;
  font-style: italic;
  font-size: 1.1rem;
}

.company-year {
  color: #006241;
  font-size: 1rem;
  font-weight: 500;
}

.contact-icon2 {
  background-color: #f8f9fa;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #e84e0f;
  font-size: 1.3rem;
  border: 2px solid #e9ecef;
}

.contact-icon {
  background-color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  font-size: 1.3rem;
  border: 2px solid #e9ecef;
}

.contact-text {
  font-size: 1rem;
}

.contact-text a {
  color: #006241;
  text-decoration: none;
}

.contact-text a:hover {
  color: #e84e0f;
}

.nav-container {
  background-color: #30875f;
}

.navbar-nav .nav-link {
  color: #ffffff !important;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s;
  text-decoration: none;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #e84e0f !important;
}

.navbar-nav .nav-link.active {
  text-decoration: underline;
}

.logo {
  width: 80px;
  height: auto;
}

@media (max-width: 768px) {
  .top-ribbon {
    display: none; /* Hide ribbon on mobile */
  }

  .company-name {
    font-size: 1.2rem;
  }

  .company-slogan {
    font-size: 1rem;
  }

  .contact-text {
    font-size: 0.9rem;
  }

  .navbar-nav .nav-link {
    font-size: 1.1rem;
  }

  .contact-section {
    margin-top: 1rem;
  }

  .logo {
    width: 60px;
  }
}
