<!-- views\components\header\header.html -->
<header class="header">
  <div class="logo-container">
    <img src="homePages/images/logo.png" alt="Ky Long Logo" class="logo" />
    <div class="company-info">
      <div class="company-name">
        <a href="/" title="Công ty TNHH Đầu Tư Thương Mại Dịch Vụ Kỳ Long"
          >CÔNG TY TNHH ĐẦU TƯ THƯƠNG MẠI DỊCH VỤ KỲ LONG</a
        >
      </div>
      <div class="company-slogan">Thắp sáng tương lai, vững bền thành quả</div>
      <div class="company-year">SINCE 2010</div>
    </div>
  </div>
  <div class="contact-info">
    <div class="address">
      <div class="icon">
        <i>📍</i>
      </div>
      <div class="address-text">
        <div>81-83 Nguyễn Hữu Cầu,</div>
        <div>Phường Tân Định, Quận 1, TP.HCM</div>
      </div>
    </div>
    <div class="phone">
      <div class="icon">
        <i>📞</i>
      </div>
      <div class="phone-text">
        <div>Số điện thoại</div>
        <a href="tel:+84 96 227 7912" title="Gọi cho Kỳ Long"
          >+84 96 227 7912</a
        >
      </div>
    </div>
    <div class="mail">
      <div class="icon">
        <i>📧</i>
      </div>
      <div class="mail-text">
        <div>Email:</div>
        <a href="mailto:info@kylong.com.vn" title="Gửi email cho Kỳ Long"
          >info@kylong.com.vn</a
        >
      </div>
    </div>
  </div>
</header>
<nav class="nav-container">
  <ul class="nav-menu">
    <a
      href="/"
      id="home"
      title="Trang Chủ Kỳ Long - Dịch vụ khí đốt công nghiệp"
      >TRANG CHỦ</a
    >
    <a
      href="/aboutMain"
      id="about"
      title="Giới thiệu về Công ty Kỳ Long - Chuyên gia khí đốt"
      >GIỚI THIỆU</a
    >
    <a
      href="/productMain"
      id="products"
      title="Sản phẩm khí đốt và thiết bị công nghiệp Kỳ Long"
      >SẢN PHẨM</a
    >
    <a
      href="/serviceMain"
      id="services"
      title="Dịch vụ cung cấp khí đốt công nghiệp Kỳ Long"
      >DỊCH VỤ</a
    >
    <a href="/newsMain" id="news" title="Tin tức và cập nhật từ Kỳ Long"
      >TIN TỨC</a
    >
    <a
      href="/lien-he"
      id="contact"
      title="Liên hệ với Kỳ Long - Đối tác khí đốt tin cậy"
      >LIÊN HỆ</a
    >
  </ul>
</nav>
