<!-- views/components/footer/footer.html -->
<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <h4>Giới Thiệu</h4>
      <ul>
        <li><a href="#" title="Sản phẩm">Sản Phẩm</a></li>
        <li><a href="#" title="Dịch vụ">Dịch Vụ</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>Tin Tức</h4>
      <ul>
        <li>
          <a href="#" title="An toàn - Sức khoẻ - Môi trường"
            >An Toàn - Sức Khoẻ - Môi Trường</a
          >
        </li>
        <li><a href="#" title="Liên hệ">Liên Hệ</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>Liên hệ</h4>
      <p>Lầu 12, số 27 Đinh Bộ Lĩnh, P. Bình Thạnh, TP. HCM</p>
      <p>
        Điện thoại:
        <a href="tel:+84 96 227 7912" title="Gọi cho Kỳ Long"
          >+84 96 227 7912</a
        >
      </p>
      <p>
        Email:
        <a href="mailto:info@kylong.com.vn" title="Gửi email cho Kỳ Long"
          >info@kylongtech.com</a
        >
      </p>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="copyright">Thắp sáng tương lai, vững bền thành công</div>
  </div>
</footer>
